
<div class="container">
    <h1 class="text-success text-center">JSON data</h1>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter name or id or salary"  name="name" [(ngModel)]="winnername">
        
      </div>
</div>



<table class="table table-stiped table-hover">
<thead>
   <th>ID</th>
   <th>Empname</th>
   <th>Salary</th>
</thead>
<tr *ngFor="let data of prizes | search:winnername">
    <td>{{data.id}}</td>
    <td>{{data.empname }}</td>
    <td>{{data.sal }}</td>
</tr>
</table>

<router-outlet></router-outlet>
